<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CozyClave</title>
</head>
<body>
    <h3>Edit Your Listing</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" >
        <label for="title">Title</label>
        <input type="text" name="listing[title]" id="title" value="<%= listing.title %>" required><br><br>
        <label for="description">Description</label>
        <textarea name="listing[description]" id="description"><%= listing.description %> </textarea><br><br>
        <label for="image">Image</label>
        <input type="text" name="listing[image]" id="image" value="<%= listing.image.url %>"><br><br>
        <label for="price">Price</label>
        <input type="number" name="listing[price]" id="price" value="<%= listing.price %>" required><br><br>
        <label for="location">Location</label>
        <input type="text" name="listing[location]" id="location" value="<%= listing.location %>" required><br><br>
        <label for="country">Country</label>
        <input type="text" name="listing[country]" id="country" value="<%= listing.country %>" required><br><br>
        <button>Edit</button>
    </form>
</body>
</html>